:root {
  --bg : #d3d3d3;

  --elm-undefined: #e5e7eb;
  --elm-bug: #9dc130;
  --elm-dark: #5f606d;
  --elm-dragon: #0773c7;
  --elm-electric: #edd53f;
  --elm-fairy: #ef97e6;
  --elm-fighting: #d94256;
  --elm-fire: #fc6c6d;
  --elm-flying: #9bb4e8;
  --elm-ghost: #7975d4;
  --elm-grass: #5dbe62;
  --elm-ground: #d78555;
  --elm-ice: #98d8d8;
  --elm-normal: #9a9da1;
  --elm-poison: #b563ce;
  --elm-psychic: #f85888;
  --elm-rock: #cec18c;
  --elm-steel: #b8b8d0;
  --elm-water: #60a5fa;

  color-scheme: light dark;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;

    --elm-undefined: #25303f;
    --elm-bug: #5b712d;
    --elm-dark: #3b404b;
    --elm-dragon: #0f4979;
    --elm-electric: #837b34;
    --elm-fairy: #845c88;
    --elm-fighting: #793140;
    --elm-fire: #8a464b;
    --elm-flying: #5a6a89;
    --elm-ghost: #484a7f;
    --elm-grass: #3a6f46;
    --elm-ground: #78533f;
    --elm-ice: #587c81;
    --elm-normal: #595f66;
    --elm-poison: #67417c;
    --elm-psychic: #883c59;
    --elm-rock: #73715b;
    --elm-steel: #686c7d;
    --elm-water: #3c6392;
  }
}

div:has(>code) {
  background: var(--bg);
  padding: 4px;
  border-radius: 4px;
}
